h1{
    background-color: aqua;
    padding-left: 350px;
}


.video{
    display: flex;
    gap: 150px;
    padding-left: 100px;
}

.abbos{
    width: 500px;
}
.abbos1{
    width: 460px;
}


.h2{
  color: black; 
  font-size: 20px;
  padding: 30px 20px;
}

.img{
    display: flex;
    gap: 150px;
    padding: 50px 150px;
}


